<a href="https://colab.research.google.com/github/techchandru/Week-tasks/blob/Week-tasks/Week_1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Types of Variables
#Question: Write a Python program that defines three types of variables:
#1. A string variable to store your name.
#2. An integer variable to store your age.
#3. A float variable to store your height in meters.
#Print these variables along with their types using the type() function


name = "Chandru"
age = 22
height = 5.6
print(name,type(name),age,type(age),height,type(height))

Chandru <class 'str'> 22 <class 'int'> 5.6 <class 'float'>

In [ ]:
#Lists Question: Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
#Print the first and last fruit from the list.
#Add a new fruit to the end of the list.
#Remove the second fruit from the list.
#Sort the list in alphabetical order and print it

fruitsL = ["apple","banana","cherry","date","elderberry"]
print(fruitsL[0])
print(fruitsL[4])
fruitsL.append("grape")
fruitsL.pop(1)
fruitsL.sort()
print(fruitsL)

apple
elderberry
['apple', 'cherry', 'date', 'elderberry', 'grape']

In [ ]:
#Tuples Question: Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
#Access the second language in the tuple.
#Try to replace the second language with "JavaScript". What happens?
#Convert the tuple to a list, make the modification, and convert it back to a tuple.

languages = ("Python", "Java", "C++")
print(languages[1])

# languages[1] = "JavaScript"  # This will raise a TypeError

languages_list = list(languages)
languages_list[1] = "JavaScript"
languages = tuple(languages_list)

print(languages)

Java
('Python', 'JavaScript', 'C++')

In [ ]:
#Data Dictionary - Basics Question: Create a dictionary with the following student details: • name: "John" • age: 18 • grade: "A"
#Access and print the value of grade.
#Add a new key-value pair for hobby with the value "reading".
#Delete the age key from the dictionary.

student = {"name": "John", "age": 18, "grade": "A"}

print(student["grade"])

student["hobby"] = "reading"
print(student)

del student["age"]

print(student)

A
{'name': 'John', 'age': 18, 'grade': 'A', 'hobby': 'reading'}
{'name': 'John', 'grade': 'A', 'hobby': 'reading'}

In [ ]:
#Data Dictionary - Operations Question: You are given the following dictionary: marks = {"Math": 85, "Science": 90, "English": 78}
#1.Find the average marks across all subjects.
#Update the marks for Math to 88.
#Check if the key "History" exists in the dictionary.

marks = {"Math": 85, "Science": 90, "English": 78}

average_marks = sum(marks.values()) / len(marks)
print("Average Marks:", average_marks)

marks["Math"] = 88

history_exists = "History" in marks
print("Is 'History' present?", history_exists)

print(marks)

Average Marks: 84.33333333333333
Is 'History' present? False
{'Math': 88, 'Science': 90, 'English': 78}

In [ ]:
#Functions - Basics Question: Write a Python function named square that takes an integer as input and returns its square.
#Call the function with the value 7 and print the result

def square(num):
    return num * num

print(square(7))

49

In [ ]:
#Functions - Default Arguments Question: Write a Python function named greet that takes two parameters: • name (a string) • message (a string with a default value of "Welcome!") Call the function twice:
#Once by providing both name and message.
#Once by providing only name.

def greet(name, message="Welcome!"):
    print(f"{message}, {name}")

greet("chandru", "Hello")

greet("chandru")

Hello, chandru
Welcome!, chandru

In [ ]:
#Functions - Positional and Keyword Arguments Question: Write a Python function named student_info that accepts the following parameters: • name (string) • age (integer) • grade (string, default value is "A") Call the function with:
#Positional arguments only.
#Keyword arguments only. Print the result in each case.

def student_info(name, age, grade="A"):
    print(f"Name: {name}, Age: {age}, Grade: {grade}")


student_info("chandru", 22, "B")

student_info(name="chandru", age=22, grade="A+")

Name: chandru, Age: 22, Grade: B
Name: chandru, Age: 22, Grade: A+

In [ ]:
#Lists and Functions Question: Write a Python program with the following requirements:
 #a) Create a list of numbers: [10, 20, 30, 40, 50].
 #) Define a function named double_values that takes a list as input and returns a new list with each value doubled.
 #c) Pass the list to the function and print the returned list.

 # a) Create a list of numbers
numbers = [10, 20, 30, 40, 50]

# b) Define a function to double the values
def double_values(lst):
    return [x * 2 for x in lst]

# c) Pass the list to the function and print the result
doubled_numbers = double_values(numbers)
print(doubled_numbers)

[20, 40, 60, 80, 100]

In [ ]:
#Combining Data Dictionary and Functions Question:
#Create a dictionary named students to store the names and grades of three students: students = {"Alice": 85, "Bob": 78, "Eve": 92}
 #a) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
 #b) Write another function named average_grade that calculates the average grade of all students in the dictionary. Call the functions to:
#Add a new student ("David": 88).
#Calculate and print the average grade

students = {"Alice": 85, "Bob": 78, "Eve": 92}

# Function to add a student to the dictionary
def add_student(student_dict, name, grade):
    student_dict[name] = grade

# Function to calculate the average grade
def average_grade(student_dict):
    return sum(student_dict.values()) / len(student_dict)

# Add a new student
add_student(students, "David", 88)

# Calculate and print the average grade
avg = average_grade(students)
print("Average Grade:", avg)

Average Grade: 85.75